---
layout: archive
title: "Projects"
permalink: /projects/
redirect_from:
  - /portfolio/
author_profile: true
---

{% include base_path %}

<div class="archive">
  <div class="projects__grid">
    {% assign projects = site.portfolio %}
    {% if projects %}
      {% assign projects = projects | sort: 'title' %}
    {% else %}
      {% assign projects = "" | split: "," %}
    {% endif %}
    {% for post in projects %}
      {% include archive-single.html type="grid" %}
    {% endfor %}
  </div>
</div>
